* {}

header {}

.logo {}

main {}

article {}

h1 {}

h4 {}

form {}

form>input {}

form>button {}

form>button:hover {}

.dashboard {}

img {}

footer {}

.connect {}

.connect>a {}

.copyright {}


/*


body {
    font-family: 'Libre Franklin', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 2.35rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 700;
    color: hsl(0, 0%, 59%);
    text-align: center;
}

h1>span {
    color: hsl(209, 33%, 12%);
}

h4 {
    font-weight: 300;
    padding: 15px;
    color: hsl(209, 33%, 12%);
    text-align: center;
}

form {
    position: relative;
    width: fit-content;
    margin-bottom: 20px;
}

form>input {
    text-align: center;
    font-weight: 300;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
}

form>input::placeholder {
    text-align: center;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}

form>button {
    box-shadow: 0px 0px 0.01px 0px hsl(223, 100%, 71%);
    background-color: hsl(223, 87%, 63%);
    color: white;
    justify-self: center;
    cursor: pointer;
    border-radius: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    cursor: pointer;
}

.copyright {
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

.connect {
    display: flex;
    justify-content: center;
}

.connect>a {
    color: hsl(223, 87%, 63%);
    text-decoration: none;
    margin: 20px;
    background: white;
    border-radius: 50%;
    padding: 2px;
    border: 0.1px solid white;
    border-width: 5px;
    box-shadow: 0.01px 0.01px 0.01px 0.01px hsl(223, 87%, 63%);
}

.connect>a:hover {
    color: white;
    text-decoration: none;
    margin: 20px;
    background: hsl(223, 87%, 63%);
    border-radius: 50%;
    padding: 2px;
    border: 0.1px solid hsl(223, 87%, 63%);
    border-width: 5px;
    box-shadow: 0.01px 0.01px 0.01px 0.01px hsl(223, 87%, 63%);
}

@media(min-width:768px) {
    form>input {
        width: 26rem;
        margin: 10px;
        height: 25px;
    }
    form>button {
        width: 200px;
        height: 30px;
    }
    .dashboard {
        margin: 30px;
        width: 85%;
    }
    .dashboard img {
        width: 100%;
    }
}

@media (max-width:767px) {
    form>input {
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        justify-self: center;
    }
    form>button {
        width: 100%;
        height: 38px;
    }
    .dashboard {
        margin: 30px;
        width: 85%;
    }
    .dashboard img {
        width: 100%;
    }
}

*/