/* This is the design for all */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

body {
  background-color: hsl(207, 100%, 98%);
}
button {
  cursor: pointer;
  border-style: none;
}
h4,
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h6,
address {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* For small devices*/

@media screen and (max-width: 759px) {
  .header {
    display: flex;
    background-position: top;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
    background-position: bottom;
    padding: 20px;
    background-image: url("images/bg-section-top-mobile-1.svg");
  }

  .img-header {
    align-self: center;
  }
  .img-header > img {
    height: 20px;
  }
  #button-header > button {
    cursor: pointer;
    align-self: center;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    background-color: white;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
  }
  main > .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .community {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .community > .img > img {
    width: 350px;
    height: 300px;
    padding: 20px;
    justify-self: center;
  }
  .contain-measurement {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    background-image: url("images/bg-section-top-mobile-2.svg");
  }

  .about-growth {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  #img {
    width: 150px;
    height: 150px;
  }

  aside > .aside {
    display: flex;
    flex-direction: column;
  }

  .for-conversations {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    justify-content: center;
    background-image: url("images/bg-section-bottom-mobile-1.svg");
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
  }

  .users {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .ready {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    background-image: url("images/bg-section-bottom-mobile-2.svg");
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/bg-footer-top-mobile.svg");
    background-size: cover;
    padding-top: 160px;
    object-fit: fill;
    color: hsl(207, 100%, 98%);
    background-repeat: no-repeat;
    background-position: center;
  }

  a {
    color: hsl(207, 100%, 98%);
  }
  i {
    margin-right: 20px;
  }
  a > i:hover {
    color: hsl(210, 97%, 70%);
  }

  .foo {
    display: flex;
    flex-direction: column;
  }
  .start-free {
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    width: 50vw;
    height: 6vh;
  }
  .start-free:hover {
    border-radius: 50px;
    background-color: hsl(321, 100%, 78%);
    color: white;
    width: 50vw;
    height: 6vh;
  }
  .Subscribe {
    padding: 5px;
    background-color: hsl(322, 100%, 66%);
    color: white;
  }
  .Subscribe:hover {
    padding: 5px;
    background-color: hsl(321, 100%, 78%);
    color: white;
  }

  .for {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: flex-end;
  }
  .for > input {
    border-radius: 3px;
    border-style: none;
    flex-shrink: 1;
    height: 4vh;
    width: 70vw;
    margin-right: 5px;
    margin-top: 5px;
  }
  .for > button {
    height: 4vh;
    width: 30vw;
    border-radius: 3px;
    border-style: none;
    flex-shrink: 4;
    margin-top: 10px;
  }

  .content,
  .contents,
  .content-footer,
  .contents-footer,
  address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  .content,
  .contents {
    margin-left: 25vw;
    width: 55vw;
  }

  .content-footer,
  .contents-footer {
    margin-left: 10vw;
    width: 55vw;
  }
  .content-footer {
    margin-top: 10px;
  }
  address {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .footer > .foo > .content-footer > .logo-for-footer {
    padding-bottom: 10px;
  }
  .logo-for-footer > img {
    filter: invert(150%);
    width: 130px;
  }
  .make-it-small {
    width: 10px;

    padding-right: 5px;
  }

  .connect {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: flex-start;
    text-align: left;
  }
}
/* For Laptops and other big screen devices*/
@media screen and (min-width: 760px) {
  .header {
    display: flex;
    background-position: top;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
    background-position: bottom;
    padding: 20px;
    background-image: url("images/bg-section-top-desktop-1.svg");
  }

  .img-header {
    align-self: center;
  }
  .img-header > img {
    height: 20px;
  }
  #button-header > button {
    cursor: pointer;
    align-self: center;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    background-color: white;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
  }

  main > .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .community {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .community > .img > img {
    width: 350px;
    height: 300px;
    padding: 20px;
    justify-self: center;
  }

  .contain-measurement {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    background-image: url("images/bg-section-top-desktop-2.svg");
  }
  .measurement1 {
    margin-right: 20px;
  }
  .measurement2 {
    margin-left: 20px;
  }

  .about-growth {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  #img {
    width: 150px;
    height: 150px;
  }

  .connect {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: flex-start;
    text-align: left;
  }
  aside > .aside {
    display: flex;
    flex-direction: column;
  }

  .for-conversations {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    justify-content: center;
    background-image: url("images/bg-section-bottom-desktop-1.svg");
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
  }

  .users {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .ready {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    background-image: url("images/bg-section-bottom-desktop-2.svg");
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    background-image: url("images/bg-footer-top-desktop.svg");
    background-size: cover;
    padding-top: 29vh;
    object-fit: fill;
    color: hsl(207, 100%, 98%);
    background-repeat: no-repeat;
    background-position: center;
  }

  a {
    color: hsl(207, 100%, 98%);
  }
  i {
    margin-right: 20px;
  }
  a > i:hover {
    color: hsl(210, 97%, 70%);
  }

  .foo {
    display: flex;
    flex-direction: row-reverse;
  }
  .start-free {
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    width: 50vw;
    height: 6vh;
  }
  .start-free:hover {
    border-radius: 50px;
    background-color: hsl(321, 100%, 78%);
    color: white;
    width: 50vw;
    height: 6vh;
  }
  .Subscribe {
    padding: 5px;
    background-color: hsl(322, 100%, 66%);
    color: white;
  }
  .Subscribe:hover {
    padding: 5px;
    background-color: hsl(321, 100%, 78%);
    color: white;
  }

  .for {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    align-items: center;
    padding-right: 80px;
  }
  .for > input {
    border-radius: 3px;
    border-style: none;
    flex-shrink: 1;
    height: 20px;
    width: 130px;
    margin-right: 5px;
  }
  .for > button {
    border-radius: 3px;
    border-style: none;
    flex-shrink: 4;
    margin-right: 10px;
  }

  .content {
    width: 250px;
    height: 150px;

    padding-right: 10vw;
  }
  .contents {
    width: 250px;
    height: 150px;
    padding-left: 10vw;
  }
  .content,
  address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  .content-footer {
    width: 30vw;
    padding-right: 10vw;
    justify-self: flex-start;
  }
  .contents-footer {
    width: 30vw;
    justify-self: flex-end;
  }

  .footer > .foo > .content-footer > .logo-for-footer {
    padding-bottom: 10px;
  }
  .logo-for-footer > img {
    filter: invert(150%);
    width: 130px;
  }
  .make-it-small {
    width: 10px;
    padding-right: 5px;
  }
  .for > input {
    border-radius: 3px;
    border-style: none;
    height: 4vh;
    width: 70vw;
    margin-right: 10px;
    margin-top: 10px;
  }
  .for > button {
    height: 4vh;
    width: 40vw;
    border-radius: 3px;
    border-style: none;
    margin-top: 10px;
    margin-left: 10px;
  }
}
