/*  mobile changes */

@media (max-width: 845px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 60px 20px 60px 20px;
    }
    .sedans {
        border-radius: 10px 10px 0px 0px;
    }
    .luxury {
        border-radius: 0px 0px 10px 10px;
    }
    .column {
        flex-grow: 1;
        flex-shrink: 1;
    }
    .column p {
        margin-bottom: 5rem;
        width: 50vw;
    }
}